.search {
    width: 20%;
}

.button1{
    background-color: #F7873F !important;
    outline-color:  #F7873F !important;
    border-color:  #F7873F !important;
}

.button1:hover{
    background-color: #F7873F !important;
    outline-color:  #F7873F !important;
    border-color:  #F7873F!important;
}

.button1:focus{
    box-shadow: none !important;
}