<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">
<head>
    <title>Home</title>
    <head th:fragment="css">
        <link rel=”stylesheet” href=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css”rel=”nofollow”
              integrity=”sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm” crossorigin=”anonymous”>
    </head>

    <head th:fragment="js">
        <script
                src="https://code.jquery.com/jquery-3.4.1.min.js"
                integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
                crossorigin="anonymous"
        ></script>
        <script src="https://getbootstrap.com/docs/4.1/assets/js/vendor/popper.min.js"></script>
        <script src=”https://code.jquery.com/jquery-3.2.1.slim.min.js” integrity=”sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN” crossorigin=”anonymous”></script>

        <script src=https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js integrity=”sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q” crossorigin=”anonymous”></script>

        <script src=”https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js” integrity=”sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl” crossorigin=”anonymous”></script>
    </head>
</head>
<body>
<div class="container-fluid">
    <br>
    <div class="card mb-3" style="color:#0D4A71; background-color:#FFFFFF;">
        <div class="card-header" style="font-weight: bold;">
        </div>
        <div class="card-body">
            <form th:action="@{/laporan/create-bast/mn}" th:object="${bastMn}" method="POST">
                <h5>Tanggal Penyerahan:</h5>
                <input type="date" name="dateHandover" style="margin-bottom: 15px;"/>
                <br>

                <h5>Awal Periode:</h5>
                <input type="date" name="startPeriod" style="margin-bottom: 15px;"/>
                <br>

                <h5>Akhir Periode:</h5>
                <input type="date" name="endPeriod" style="margin-bottom: 15px;"/>
                <br>

                <h5>Maintenance:</h5>
                <select class="form-control" name="idMaintenance">
                    <option disabled="disabled" selected="selected">-- Pilih Maintenance --</option>
                    <option th:each="maintenance: ${maintenanceList}" th:value="${maintenance.idMaintenance}" th:text="'Maintenance-'+${maintenance.dateMn}" name="idMaintenance"></option>

                </select>
                <br><br>
                <button th:action="@{/bastMn}" class="btn btn-outline-danger">Batal</button>
                <button type="submit" value="Submit" name="submit" class="btn btn-outline-primary">Tambah</button>
            </form>

        </div>
    </div>


</div>

</body>
</html>